name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-android:
    name: Android ${{ matrix.host }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        host: [armv7a-linux-androideabi, aarch64-linux-android, i686-linux-android, x86_64-linux-android]

    steps:
      - run: git config --global core.autocrlf input
      - uses: actions/checkout@v2
      - run: ./.ci/install.sh
      - name: Install NDK r25c
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25c
      - env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }} # github actions ubuntu 24.04 use ndk 27.3.13750724 by default. Now we switch to ndk r25c. if host machine is android and macro 'FFI_EXEC_STATIC_TRAMP' is defined, errors will occur when compiling using ndk 27.3.13750724
          ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
          HOST: ${{ matrix.HOST }}
          ANDROID_API_LEVEL: 23
          CONFIGURE_OPTIONS: "--disable-shared --disable-multi-os-directory --disable-docs" # --enable-debug # fixes warning about unsupported -print-multi-os-directory with clang
        run: |
          ./.ci/meson-build.py
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libffi-${{ matrix.host }}
          path: ./builddir/src/libffi.a
